<h2>//Internships & Experience</h2>
<div class="exp">
    <p class="job-title">Lead Web Developer - PerfectGift</p>
    <p class="job-location">Cambridge, MA</p>
    <ul class="job-description">
        <li>Developing e-commerce website in full-end
        <li>Coordinating with developer, designer, and business team to develop webpages.</li>
        <li>Researched and provided resources for user analytics to business team.</li>
        <li>Delivering daily user tracking.</li>
        <li>Performing coding, debugging, and testing throughout the e-commerce development process.</li>
    </ul>
</div>
<div class="exp">
    <p class="job-title">Web Developer Associate - SendItLater</p>
    <p class="job-location">Hamilton, MA</p>
    <ul class="job-description">
        <li>Developed front and back end website development for SenditLater with developer and designer team.</li>
        <li>Built website components for e-commerce partners.</li>
    </ul>
</div>
<div class="exp">
    <p class="job-title">Web Master - World Swimming Championship 2015</p>
    <p class="job-location">San Antonio, TX</p>
    <ul class="job-description">
        <li>Ensured compatibility of website with operating systems</li>
        <li>Performed variety of webmaster functions</li>
        <li>Monitored website and web browser functionality</li>
        <li>Worked in coordination with meet officials and venders to resolve technical issues and
        address queries.</li>
    </ul>
</div>
