<div class="header">
    <div class="title">
        <a class="text" href="/">
            <h1>Paul J. Uncangco</h1>
            <h2>Front End Developer</h2>
        </a>
    </div>
    <div class="intro_wrap"> 
        <div class="img_of_me">
            <img src="/assets/images/7192265.jpeg">
        </div>
        <div class="intro">
            <p>{{ site.description }}</p>
            {% include logos.html %}
        </div>
    </div>
    <div class="projects">
        {% include projects.html%}
    </div>
    <div class="experiences">{% include experience.html %}</div>
</div>