<div class="editor_window"> 
    <div class="project">
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="titles"> 
            <p class="">time_logging.js</p>
            <p class="">soliday_michael.js</p>
            <p class="">learn_node.js</p>
        </div>

        <ol class="editor_body open">
            <li>
                <span class="function_purple">function</span> project_name() {
            </li>
            <li> 
                <span class="tab_space"> <span class="function_purple">let</span> name = <span class="paragraph_green"></span>;</span>
            </li>
            <li></li>
            <li>
                <span class="tab_space"><span class="function_purple">let</span>  description = function() { </span>
            </li>
            <li> 
                <div class="tab_space paragraph">return(<span class="paragraph_green"></span>)</div>
            </li>
            <li> <span class="tab_space">}</span></li>

            <li></li>
            <li>
                <div class="tab_space console"> <span class="c_yellow">console</span>.<span class="l_teal">log</span>(<span class="paragraph_green"></span>); </div>
            </li>
            <li></li>
            <li class="indent-10">
                <span class="tab_space">
                    <span class="a_blue">alert</span>(<span class="paragraph_green">&quot;<a href="" target="_blank">view source</a>&quot;</span>);
                </span>
            </li>
            <li class="indent-0">}</li>
        </ol>
    </div>
</div>