<h2>//Projects</h2>
<div class="project">
    <h3>Time Logging - React.js</h3>
    <div class="open">
        <p>Technologies: HTML/CSS/JavaScript, React.js, Git</p>
        <p>Used client and server API for CRUD in React.js and successfully understood how to manage the state and pass the data between components using props.  Organized apps into components and how data flow between parent and child components.</p>
        <div class="link">
            <a href="https://github.com/islanderTron/time-logging" target="_blank">view source</a>
        </div>
    </div>
</div>

<div class="project">
    <h3>Soliday, Michael – Author of Keltian’s Warriors Trilogy</h3>
    <div class="open">
        <p>Technologies: WordPress, PHP, Javascript, MySQL, SASS</p>
        <p>Redesigned and developed front and back end in WordPress for the author of Keltian's Warriors.</p>
        <div class="link">
            <a href="https://solidaymichael.com" target="_blank">view site</a>
        </div>
    </div>
</div>

<div class="project">
    <h3>LearnNode - Node.js</h3>
    <div class="open">
        <p>Technologies: Node.js, Express.js, MongoDB, Webpacks, Pug.js, ES6, Sass</p>
        <p>Developed web application that takes in API file and interacts with back-end database. Developed front-end by using modern technologies: Pug for best experience and development. </p>
        <div class="link"><a href="https://github.com/islanderTron/LearnNode" target="_blank">view source</a></div>
    </div>
</div>

<div class="project">
    <h3>E-commerce - PHP</h3>
    <div class="open">
        <p>Technologies: HTML/CSS/JavaScript, jQuery, Foundation, PHP, MySQL (PDO) </p>
        <p>A basic E-Commerce allows the user to buy books via the PDO with PHP using attractive UI. In addition, successfully be able to perform parameterized queries.</p>
        <div class="link"><a href="https://github.com/islanderTron/Ecommerce" target="_blank">view source</a></div>
    </div>
</div>