<h2>Projects</h2>
<div class="wrap_projects">
    <div class="project">
        <h3>Keltian’s Warriors Trilogy</h3>
        <p>Technologies: WordPress, PHP, Javascript, MySQL, SASS</p>
        <p>Redesigned and developed front and back end in WordPress for the author of Keltian's Warriors.</p>
        <a href="https://solidaymichael.com">view site</a>
    </div>

    <div class="project">
        <h3>Node.js</h3>
        <p>Technologies: Node.js, Express.js(Middleware) MongoDB, Webpacks, Pug.js, ES6, SASS</p>
        <p>Developed web application that takes in API file and interacts with back-end database. Developed front-end by using modern technologies: Pug for best experience and development.</p>
        <a href="https://github.com/islanderTron/nodejs-lab">view source</a>
    </div>
    
    <div class="project">
        <h3>Ecommerce - PHP</h3>
        <p>Technologies: PHP, MySQL & PDO, CSS, Javascript, AJAX </p>
        <p>A basic E-Commerce allows the user to buy books via the PDO with PHP using attractive UI. In addition, successfully be able to perform parameterized queries.</p>
        <a href="https://github.com/islanderTron/Ecommerce">view source</a>
    </div>
</div>