@mixin grid {
    display: grid;
    grid-template-columns: 100%;
}
@mixin section {
    margin: 0;
    background-color: $tundora;
    color: #fff;
    padding: 5px;
}
@mixin proj_exp {
    padding: 5px 0;
}
@mixin logo {
    width: 100%;
    padding: 10px 0;
    img { width: 30px; }
}
body {
    
    font-family: "Avenir","Roboto","Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: $tundora;
    @media screen and (max-width: 800px) {
        width: 100%;
        margin: 0;
    }
}
#particles-js {
    position: absolute; 
    width: 100%;
    height: 100%;
    left: 0;
    @media (max-width: 812px) {
        display: none;
    }
}
.wrapper { 
    position: relative;
    width: 800px;
    margin: 0px auto 40px auto;
    background-color:#fff;
    @media (max-width: 800px) {
        width: 100%;
    }

}
.intro_wrap, .projects, .experiences {
    padding: 0 20px;
}
.title {
    margin: 20px 0px;
    a {
        color:$tundora; 
        text-decoration: none;
    }
    .text {
        text-align: center;
        h1, h2 {
            font-weight: 300;
            margin: 0;
        }
    }
}
.intro_wrap {
    display: grid;
    grid-template-columns: 20% 80%;
    .img_of_me {
        img{
            width: 100%;
            @media (max-width: 800px) {
                width: 30%;
            }
            border-radius: 50%;
        }
        @media (max-width: 800px) {
            text-align: center;
        }
    }
    .intro {
        padding-left: 25px;
        @media (max-width: 800px) {
            padding-left: 0px;
        }
    }
    .logos {
        @include logo;
        a { display: inline-block; }
        img { 
            @media screen and (max-width: 800px) {
                text-align: center;
            }
        }
        @media screen and (max-width: 800px) {
            text-align: center;
        }
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: 100%;
    }
}
// Projects
// .projects{
//     padding-top: 20px;
//     h2 { @include section; }
//     .proj_wrap{
//         display: flex;
//         flex-flow: column wrap;
//         @media screen and (max-width: 800px) {
//             flex-flow: row wrap;
//         }
//         .project{
//             @include proj_exp;
//             display: grid;
//             grid-template-columns: 20% 80%;
//             h3 {
//                 margin: 0;
//                 background-color: #00e8ff99;
//                 width: 115px;
//                 height: 115px;
//                 border-radius: 50%;
//                 align-items: center;
//                 display: flex;
//                 text-align: center;
//                 color: #000;
//                 justify-content: center;
//             }
//             .open {
//                 // width: 100%;
//                 // border-radius: 
//             }
//             p { 
//                     padding: 10px;
//                     // background: #0000000f;
//                 &:nth-child(1) {
//                     font-style: italic;
//                 }  
//             }
//             .link {
//                 padding: 0;
//                 margin-top: 15px;
//                 margin-left: 10px;
//                 a {
//                     text-decoration: none;
//                     color: $tundora;
//                     border: 1px solid $tundora;
//                     border-radius: 5px;
//                     padding: 5px;
//                     &:hover{
//                         background-color: $tundora;
//                         color: #fff;
//                     }
//                 }
//             }
//         }
//     }
// }
// Internships & Experience
.experiences {
    @include grid;
    padding-top: 20px;
    h2 { 
        @include section;
    }
    .exp {
        @include proj_exp;
        p { font-style: italic; }
        .job-title, .job-location, .job-description{
            margin: 0;
        }
        .job-title {
            margin-top: 5px;
        }
        ul {
            list-style: none;
            padding: 10px 0px;
            margin-left: 0px;
            background: #0000000f;
            li{
                padding-left: 30px;
                text-indent: -1em;              
                &:before {
                    content: "+";
                    padding-right: 5px;
                }
            }
        }
    }
}
footer {
    margin-bottom: 40px;
    @include logo;
}

.editor_window{ 
    background: #000;
    border-radius: 5px;
    .dots {
        padding: 10px;
        div{ 
            display: inline-block;
            background: #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }   

    .titles {
        width: 50%;
        text-align: center;
    }
    .active {
        background: #424242bd;
    }
}

.editor_body {
    background: #424242;
    color: #fff;
    .tab_space {
        padding-left: 20px;
    }
    ol{ 
        counter-reset: section;
        list-style-type: none;
        li { 
            text-decoration: none;
            counter-increment: section;
            &:before {
                content: counter(section, '.') " ";
            }
        }
    }
}