@font-face {
    font-family: Emerald;
    src: url('../assets/fonts/Emerald-Normal.woff');
    src: url('../assets/fonts/Emerald-Normal.woff2');
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1.33em;
}
p {
    font-size: 1.15rem;
    margin: 0;
 }
 .job-title {
     font-weight: 600;
 }

li {
    font-size: 1.0rem;
}